@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*------------------------------Aether------------------------------*/

.aether-sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(236, 244, 247, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.aether-sidebar .nav-buttons {
    width: 80%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aether-sidebar .mac-buttons {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aether-sidebar .mac-buttons .red {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fe5b4a;
}

.aether-sidebar .mac-buttons .yellow {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffbb41;
}

.aether-sidebar .mac-buttons .green {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #66e24c;
}

.aether-sidebar .nav-buttons .hide-button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.aether-sidebar .title {
    width: 80%;
    height: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.aether-sidebar .title img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 50%;
    background-color: #000;
}

.aether-sidebar .main {
    width: 80%;
    height: auto;
    margin-top: 15px;
    border-top: 1px solid #d3d4d6;
    border-bottom: 1px solid #d3d4d6;
    display: flex;
    flex-direction: column;
    color: #6d7d8a;
}

.aether-sidebar .main .nav-button {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    color: #5b667c;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
}

.aether-sidebar .main .active {
    color: #2f383d;
    display: flex;
    align-items: center;
}

.aether-sidebar .main i {
    margin-right: 20px;
    color: #a9b8cf;
}

.aether-sidebar .main .notif {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #015ef7;
    color: #fff;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aether-sidebar .message {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #6d7d8a;
}

.aether-sidebar .message .nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aether-sidebar .message .nav .nav-page {
    width: auto;
    height: auto;
    display: flex;
}

.aether-sidebar .message .nav .nav-page .message-page {
    color: #6d7d8a;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.aether-sidebar .message .nav .nav-page .active {
    color: #000817;
}

.aether-sidebar .message .panel {
    width: 100%;
    height: auto;
    padding: 5px 0px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aether-sidebar .message .panel .item {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.aether-sidebar .message .panel img {
    width: 30px;
    height: 30px;
    margin: 0px 15px;
    border-radius: 50%;
}

.aether-sidebar .message .panel .show-button {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #0462f6;
    position: relative;
    bottom: -20px;
    cursor: pointer;
}

.aether-sidebar .message .panel i {
    margin-right: 10px;
}

.aether-sidebar .message .notif {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #d2d3d5;
    color: #000;
    position: absolute;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aether-sidebar .profile {
    width: 70%;
    height: auto;
    margin: 30px 0px 20px 0px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

.aether-sidebar .profile img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 20px;
    border: 1px solid #d2d3d5;
}

.aether-sidebar .profile .name {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aether-sidebar .profile .name h5 {
    margin: 0;
    font-size: 14px;
}

.aether-sidebar .profile .name h6 {
    margin: 0;
    font-size: 14px;
    color: #5b667c;
}

/*------------------------------Nyx------------------------------*/

.nyx-sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11111d;
    overflow-y: auto;
}

.nyx-sidebar .header {
    width: 90%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nyx-sidebar .header a {
    color: #fffff6;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nyx-sidebar .header img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 50px;
}

.nyx-sidebar .header .burger {
    border: none;
    color: #fffff6;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
}

.nyx-sidebar .search {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nyx-sidebar .search span {
    width: auto;
    height: 51px;
    padding-left: 15px;
    border-radius: 10px 0px 0px 10px;
    color: #fffff6;
    background-color: #1d1b31;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.nyx-sidebar .search .search-input {
    width: 200px;
    padding: 14px;
    font-size: 20px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: #fffff6;
    background-color: #1d1b31;
    outline: none;
}

.nyx-sidebar .main {
    width: 90%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nyx-sidebar .main #active {
    color: #11111d;
    background-color: #fffff6;
}

.nyx-sidebar .main .main-button {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    padding: 18px 4px 18px 20px;
    border: none;
    border-radius: 10px;
    color: #fffff6;
    background-color: #11111d;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
}

.nyx-sidebar .main i {
    margin-right: 20px;
}

.nyx-sidebar .profile {
    width: 100%;
    height: auto;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1b31;
    color: #fffff6;
    position: absolute;
    bottom: 0;
}

.nyx-sidebar .profile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}

.nyx-sidebar .profile .infos {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nyx-sidebar .profile .infos h4 {
    margin: 2px 0px;
}

.nyx-sidebar .profile .infos p {
    margin: 2px 0px;
    font-size: 14px;
}

.nyx-sidebar .profile .logout {
    border: none;
    background-color: transparent;
    color: #fffff6;
    font-size: 26px;
}


/* iPhone Pro Max */

@media screen and (max-width: 428px) {

    /*------------------------------Aether------------------------------*/

    .aether-sidebar {
        width: 100px;
    }

    .aether-sidebar .nav-buttons {
        justify-content: center;
    }

    .aether-sidebar .mac-buttons {
        width: 80%;
    }

    .aether-sidebar .nav-buttons .hide-button {
        display: none;
    }

    .aether-sidebar .title {
        margin-top: 20px;
        justify-content: center;
    }

    .aether-sidebar .title img {
        margin: 0;
    }

    .aether-sidebar .title h3 {
        display: none;
    }

    .aether-sidebar .main h6 {
        width: 100%;
        text-align: center;
    }

    .aether-sidebar .main .nav-button {
        font-size: 0px;
        width: 100%;
        text-align: center;
    }

    .aether-sidebar .main .active {
        justify-content: center;
    }

    .aether-sidebar .main i {
        font-size: 20px;
        margin: 0;
    }

    .aether-sidebar .main .notif {
        display: none;
    }

    .aether-sidebar .message .nav {
        justify-content: center;
    }

    .aether-sidebar .message .nav .nav-page {
        display: none;
    }

    .aether-sidebar .message .panel .item {
        width: 100%;
        font-size: 0px;
        justify-content: center;
    }

    .aether-sidebar .message .panel .show-button {
        font-size: 0px;
    }

    .aether-sidebar .message .panel img {
        margin: 0;
    }

    .aether-sidebar .message .panel i {
        margin-right: 0;
        font-size: 15px;
    }

    .aether-sidebar .message .notif {
        display: none;
    }

    .aether-sidebar .profile {
        width: 100%;
        justify-content: center;
    }

    .aether-sidebar .profile img {
        margin: 0;
    }

    .aether-sidebar .profile .name {
        display: none;
    }

    /*------------------------------Nyx------------------------------*/

    .nyx-sidebar {
        width: 100px;
    }

    .nyx-sidebar .header {
        justify-content: center;
    }

    .nyx-sidebar .header a {
        font-size: 0px;
    }

    .nyx-sidebar .header .burger {
        display: none;
    }

    .nyx-sidebar .search span {
        width: 70px;
        height: 70px;
        padding: 0px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    .nyx-sidebar .search .search-input {
        display: none;
    }

    .nyx-sidebar .main {
        align-items: center;
    }

    .nyx-sidebar .main .main-button {
        width: 70px;
        height: 70px;
        margin: 0;
        padding: 0px;
        font-size: 0px;
        text-align: center;
    }

    .nyx-sidebar .main i {
        font-size: 20px;
        margin: 0;
    }

    .nyx-sidebar .profile img {
        margin: 0;
    }

    .nyx-sidebar .profile .infos {
        display: none;
    }

    .nyx-sidebar .profile .logout {
        display: none;
    }
}

/* iPhone Pro Max */

@media screen and (max-width: 320px) {

    /*------------------------------Nyx------------------------------*/
    .nyx-sidebar {
        width: 70px;
    }

    .nyx-sidebar .search span {
        width: 50px;
        height: 50px;
    }

    .nyx-sidebar .main .main-button {
        width: 50px;
        height: 50px;
    }

    .nyx-sidebar .profile img {
        width: 45px;
        height: 45px
    }
}
