@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    background-color: #e3e9f7;
    font-family: 'Roboto', sans-serif;
}

.social-link {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.social-link a {
    color: #11111d;
    text-decoration: none;
    font-size: 40px;
}

.social-link:hover .desc {
    display: block;
}

.social-link span {
    color: #e3e9f7;
    background-color: #1f1e30;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;
    display: none;
}

.doc {
    right: 15px;
    bottom: 65px;
}
